.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 0px;
  border-radius: 10px;
  background: rgb(8, 104, 29);
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: rgb(28, 124, 49);
  color: white;
}

.button--inverse {
  background: transparent;
  color: #ff0055;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #ff0055;
}

.button--danger {
  background: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
}

.button--tab {
  background: transparent;
  color: #0879bb;
  font-size: 20pt;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.button--tab:hover {
  background: lightgrey;
  color: #0879bb;
}

.button--tab-active,
.button--tab-active:hover {
  background: white;
  color: #0879bb;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
